
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Turtle Shelter Project</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Turtle Shelter Project</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="sponsor">Donate</a></li>
                            <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">How to Help</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="hth">Host an Event</a></li>
                                    <li><a class="dropdown-item" href="volunteer">Volunteer</a></li>
                                </ul>
                            </li>
                            <li class="nav-item" id="admin"><a class="nav-link" href="login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Add other content here -->
        </main>
    </body>
            <!-- Pricing section-->
            <script>window.SQUARESPACE_ROLLUPS = window.SQUARESPACE_ROLLUPS || {};</script>
            

    <link rel="stylesheet" type="text/css" href="//assets.squarespace.com/universal/fonts/squarespace-clarkson-v2.css" />


    <style id="checkout-page-styles">
        
/*! Squarespace LESS Compiler  (less.js language v1.3.3)  */
#sqs-standard-checkout {
  background: #f6f6f6;
}
#store-logo .site-title,
#sqs-standard-checkout .checkout-tweak-site-title-color {
  color: #313131;
}
#sqs-standard-checkout .button {
  background: #313131;
}
.checkout-tweak-background-color {
  background: #f6f6f6;
}
.checkout-tweak-header-color {
  background: #fff;
}
.checkout-tweak-header-border {
  border-bottom: 1px solid rgba(0, 0, 0, .06);
}
 
    </style>

    <!-- Bootstrap data -->
    <script type="application/json" id="bootstrap">
        {
                "context": {"env":"PRODUCTION"},
                "checkoutBaseContext": {"siteTitle":"Turtle Shelter Project","websiteId":"5b5a266fcef372310148d6d6","baseUrl":"https://turtleshelterproject.org","authenticUrl":"https://turtleshelterproject.org","selectedCurrency":"USD","staticAssetBaseUrl":"https://assets.squarespace.com","stripeAccountCountry":"US","stripeTestPublicApiKey":"pk_test_6D9mo1ZkAjhMPh34iYG2WMIf","stripeLivePublicApiKey":"pk_live_Z5ypfjc5KLkW3VKlFoAygMCq","stripeUserId":"acct_1CwZjFAv8IaYgzMb","locale":"en-US","shopperLanguage":"en","reCaptchaSiteKey":"6LcUJrMZAAAAAN-oV3MnMXbC39R8loMNBQ3PX-dY","scriptRegistrationsEnabled":false,"siftJSBeaconKey":"ac301fa5ab"},
                "customCheckoutForm": {"id":"5b6a44c588251b72932df59f","name":"","items":[{"id":"textarea-yui_3_17_2_1_1533690668203_8892","type":"textarea","title":"Honor someone with your gift","description":"","placeholder":"","required":false,"maxLength":0},{"id":"textarea-yui_3_17_2_1_1533690668203_14701","type":"textarea","title":"Where should your gift of vests be sent?","description":"","placeholder":"Please share the address or tell us to send the vests where there is the greatest need.","required":false,"maxLength":0}]},
                "checkoutUserProfile": {"addressBook":{"addresses":[]},"sessionStatus":"UNAUTHENTICATED","wallet":{"paymentCards":[]}},
                "donatePage": {"id":"5b6a44c588251b72932df5a0","websiteId":"5b5a266fcef372310148d6d6","title":"The Turtle Shelter Project","description":"We appreciate your generosity!  Thank you!","buttonLabel":"Donate","buttonAlignment":"center","suggestedContributions":[{"label":"Towards shipping and materials","amountCents":1000},{"label":"Gift of one vest","amountCents":3000},{"label":"Gift of three vests","amountCents":9000},{"label":"Gift of nine vests","amountCents":27000}],"customForm":{"id":"5b6a44c588251b72932df59f","websiteId":"5b5a266fcef372310148d6d6","type":3,"name":"","fields":["{\"type\":\"textarea\",\"id\":\"textarea-yui_3_17_2_1_1533690668203_8892\",\"locked\":false,\"title\":\"Honor someone with your gift\",\"description\":\"\",\"placeholder\":\"\",\"required\":false,\"textarea\":true}","{\"type\":\"textarea\",\"id\":\"textarea-yui_3_17_2_1_1533690668203_14701\",\"locked\":false,\"title\":\"Where should your gift of vests be sent?\",\"description\":\"\",\"placeholder\":\"Please share the address or tell us to send the vests where there is the greatest need.\",\"required\":false,\"textarea\":true}"],"parsedFields":[],"connectedBackends":[],"possiblyOrphan":false},"customFormId":"5b6a44c588251b72932df59f","queuedSubmitEnabled":false},
                "donationSuggestions": [{"label":"Towards shipping and materials","amount":{"currency":"USD","value":"10.00"}},{"label":"Gift of one vest","amount":{"currency":"USD","value":"30.00"}},{"label":"Gift of three vests","amount":{"currency":"USD","value":"90.00"}},{"label":"Gift of nine vests","amount":{"currency":"USD","value":"270.00"}}],
                "checkoutConfig": {"accountRequired":false,"afterpayRedirectEnabled":false,"billingAddressFormConfig":{"defaultCountry":"US","supportedCountries":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BA","BW","BV","BR","IO","BN","BG","BF","BI","BQ","KH","CM","CA","CV","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","CW","HR","CU","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","XK","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MF","MK","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","AN","NC","NZ","NI","NE","NG","NU","NF","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SK","SI","SB","SO","SX","ZA","GS","ES","LK","SD","SR","SJ","SS","SZ","SY","SE","CH","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VG","VI","WF","EH","YE","ZM","ZW"],"showPhoneNumber":true,"billToShippingDefaultValue":false,"isPhoneNumberRequired":false},"checkoutType":"DONATE","commerceDisabled":false,"customCheckoutForm":{"id":"5b6a44c588251b72932df59f","name":"","items":[{"id":"textarea-yui_3_17_2_1_1533690668203_8892","type":"textarea","title":"Honor someone with your gift","description":"","required":false,"placeholder":"","maxLength":0,"showCountryCode":false,"underlined":false},{"id":"textarea-yui_3_17_2_1_1533690668203_14701","type":"textarea","title":"Where should your gift of vests be sent?","description":"","required":false,"placeholder":"Please share the address or tell us to send the vests where there is the greatest need.","maxLength":0,"showCountryCode":false,"underlined":false}]},"designMode":false,"emailListOptInByDefault":false,"giftCardsEnabled":false,"hasPickupOptions":false,"hasShippingOptions":false,"isPaywallCheckout":false,"minimumOrderSubtotal":{"currency":"USD","value":"0.00"},"mustSavePaymentMethod":false,"paymentConfig":{"gatewayConnected":true,"testMode":false,"allowTestModePaymentOverride":false,"stripeConnected":true,"paypalConnected":true,"applePayEnabled":true,"linkEnabled":true,"paypalEnabled":true,"paypalMerchantId":"RVWPNHZURLAUC","afterpayAvailable":false,"afterpayMinValueSubunits":100,"afterpayMaxValueSubunits":200000,"klarnaAvailable":false,"achAvailable":false,"sqspPaymentsAvailable":false,"trialMode":false,"storeCurrency":"USD","paymentAmountConstraints":{"minimum":{"currencyCode":"USD","value":50,"decimalValue":"0.50","fractionalDigits":2}},"acceptedPaymentCardTypes":["VISA","MASTERCARD","AMEX","DISCOVER"],"paypalSandbox":false},"purchaseType":"ONE_TIME_PURCHASE","reCaptchaEnabled":true,"shoppingCartSize":0,"showBillingAddressForm":true,"showEmailListSubscribeOption":false,"showGiftCodeInput":false,"showPromoCodeInput":false,"storePolicies":{},"submitEndpointEnabled":false,"subscriptionsEnabled":false,"userAccountsConfig":{"loginAllowed":false,"signupAllowed":false},"xsrfToken":"MXw1YjVhMjY2ZmNlZjM3MjMxMDE0OGQ2ZDY6MTczMzE3NTQ0NTg0MHx2TTdMcGtLMGtjdk1RUGxvYWtfdGF6VlJKZHJZejN6cjZGYldUWHZIa2FxX1hqcjVOSDNGeGlyLWszYmVUX19Q"},
                "uiFeatureFlags": {"achLowerLimitEnabled":false,"fullStoryEnabled":false,"unifiedCheckoutEnabled":false}        }
    </script>

      <!-- No "cookie-preferences-getter-header-script" found in context.. -->

      <!-- No "google-analytics-id" found in context. -->

      <!-- No "facebook-pixel-tag" found in context. -->

  <script defer src="https://assets.squarespace.com/commerce-checkout/errorReporter-9427a58bf5550f21a770-min.en-US.js"></script><script defer src="https://assets.squarespace.com/commerce-checkout/main-9c76e28464a8ef02069c-min.en-US.js"></script><link href="https://assets.squarespace.com/commerce-checkout/main-5b13109ead092b54ee67.css" rel="stylesheet"></head>
  <body id="sqs-standard-checkout" class="checkout commerce-checkout header-alignment-left aureus">
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="checkout"></div>

  </body>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Turtle Shelter Project 2024</div></div>
                    <div class="col-auto">
                        <a class="fs-5 px-2 link-light" href="https://www.facebook.com/turtleshelterproject/"><i class="bi-facebook"></i></a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="fs-5 px-2 link-light" href="https://www.youtube.com/channel/UCDZi9iA2JDb4dU14AOr1byA/videos"><i class="bi-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script type="application/json" id="bootstrap">
            {
                    "context": {"env":"PRODUCTION"},
                    "checkoutBaseContext": {"siteTitle":"Turtle Shelter Project","websiteId":"5b5a266fcef372310148d6d6","baseUrl":"https://turtleshelterproject.org","authenticUrl":"https://turtleshelterproject.org","selectedCurrency":"USD","staticAssetBaseUrl":"https://assets.squarespace.com","stripeAccountCountry":"US","stripeTestPublicApiKey":"pk_test_6D9mo1ZkAjhMPh34iYG2WMIf","stripeLivePublicApiKey":"pk_live_Z5ypfjc5KLkW3VKlFoAygMCq","stripeUserId":"acct_1CwZjFAv8IaYgzMb","locale":"en-US","shopperLanguage":"en","reCaptchaSiteKey":"6LcUJrMZAAAAAN-oV3MnMXbC39R8loMNBQ3PX-dY","scriptRegistrationsEnabled":false,"siftJSBeaconKey":"ac301fa5ab"},
                    "customCheckoutForm": {"id":"5b6a44c588251b72932df59f","name":"","items":[{"id":"textarea-yui_3_17_2_1_1533690668203_8892","type":"textarea","title":"Honor someone with your gift","description":"","placeholder":"","required":false,"maxLength":0},{"id":"textarea-yui_3_17_2_1_1533690668203_14701","type":"textarea","title":"Where should your gift of vests be sent?","description":"","placeholder":"Please share the address or tell us to send the vests where there is the greatest need.","required":false,"maxLength":0}]},
                    "checkoutUserProfile": {"addressBook":{"addresses":[]},"sessionStatus":"UNAUTHENTICATED","wallet":{"paymentCards":[]}},
                    "donatePage": {"id":"5b6a44c588251b72932df5a0","websiteId":"5b5a266fcef372310148d6d6","title":"The Turtle Shelter Project","description":"We appreciate your generosity!  Thank you!","buttonLabel":"Donate","buttonAlignment":"center","suggestedContributions":[{"label":"Towards shipping and materials","amountCents":1000},{"label":"Gift of one vest","amountCents":3000},{"label":"Gift of three vests","amountCents":9000},{"label":"Gift of nine vests","amountCents":27000}],"customForm":{"id":"5b6a44c588251b72932df59f","websiteId":"5b5a266fcef372310148d6d6","type":3,"name":"","fields":["{\"type\":\"textarea\",\"id\":\"textarea-yui_3_17_2_1_1533690668203_8892\",\"locked\":false,\"title\":\"Honor someone with your gift\",\"description\":\"\",\"placeholder\":\"\",\"required\":false,\"textarea\":true}","{\"type\":\"textarea\",\"id\":\"textarea-yui_3_17_2_1_1533690668203_14701\",\"locked\":false,\"title\":\"Where should your gift of vests be sent?\",\"description\":\"\",\"placeholder\":\"Please share the address or tell us to send the vests where there is the greatest need.\",\"required\":false,\"textarea\":true}"],"parsedFields":[],"connectedBackends":[],"possiblyOrphan":false},"customFormId":"5b6a44c588251b72932df59f","queuedSubmitEnabled":false},
                    "donationSuggestions": [{"label":"Towards shipping and materials","amount":{"currency":"USD","value":"10.00"}},{"label":"Gift of one vest","amount":{"currency":"USD","value":"30.00"}},{"label":"Gift of three vests","amount":{"currency":"USD","value":"90.00"}},{"label":"Gift of nine vests","amount":{"currency":"USD","value":"270.00"}}],
                    "checkoutConfig": {"accountRequired":false,"afterpayRedirectEnabled":false,"billingAddressFormConfig":{"defaultCountry":"US","supportedCountries":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BA","BW","BV","BR","IO","BN","BG","BF","BI","BQ","KH","CM","CA","CV","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","CW","HR","CU","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","XK","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MF","MK","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","AN","NC","NZ","NI","NE","NG","NU","NF","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SK","SI","SB","SO","SX","ZA","GS","ES","LK","SD","SR","SJ","SS","SZ","SY","SE","CH","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VG","VI","WF","EH","YE","ZM","ZW"],"showPhoneNumber":true,"billToShippingDefaultValue":false,"isPhoneNumberRequired":false},"checkoutType":"DONATE","commerceDisabled":false,"customCheckoutForm":{"id":"5b6a44c588251b72932df59f","name":"","items":[{"id":"textarea-yui_3_17_2_1_1533690668203_8892","type":"textarea","title":"Honor someone with your gift","description":"","required":false,"placeholder":"","maxLength":0,"showCountryCode":false,"underlined":false},{"id":"textarea-yui_3_17_2_1_1533690668203_14701","type":"textarea","title":"Where should your gift of vests be sent?","description":"","required":false,"placeholder":"Please share the address or tell us to send the vests where there is the greatest need.","maxLength":0,"showCountryCode":false,"underlined":false}]},"designMode":false,"emailListOptInByDefault":false,"giftCardsEnabled":false,"hasPickupOptions":false,"hasShippingOptions":false,"isPaywallCheckout":false,"minimumOrderSubtotal":{"currency":"USD","value":"0.00"},"mustSavePaymentMethod":false,"paymentConfig":{"gatewayConnected":true,"testMode":false,"allowTestModePaymentOverride":false,"stripeConnected":true,"paypalConnected":true,"applePayEnabled":true,"linkEnabled":true,"paypalEnabled":true,"paypalMerchantId":"RVWPNHZURLAUC","afterpayAvailable":false,"afterpayMinValueSubunits":100,"afterpayMaxValueSubunits":200000,"klarnaAvailable":false,"achAvailable":false,"sqspPaymentsAvailable":false,"trialMode":false,"storeCurrency":"USD","paymentAmountConstraints":{"minimum":{"currencyCode":"USD","value":50,"decimalValue":"0.50","fractionalDigits":2}},"acceptedPaymentCardTypes":["VISA","MASTERCARD","AMEX","DISCOVER"],"paypalSandbox":false},"purchaseType":"ONE_TIME_PURCHASE","reCaptchaEnabled":true,"shoppingCartSize":0,"showBillingAddressForm":true,"showEmailListSubscribeOption":false,"showGiftCodeInput":false,"showPromoCodeInput":false,"storePolicies":{},"submitEndpointEnabled":false,"subscriptionsEnabled":false,"userAccountsConfig":{"loginAllowed":false,"signupAllowed":false},"xsrfToken":"MXw1YjVhMjY2ZmNlZjM3MjMxMDE0OGQ2ZDY6MTczMzE3NTQ0NTg0MHx2TTdMcGtLMGtjdk1RUGxvYWtfdGF6VlJKZHJZejN6cjZGYldUWHZIa2FxX1hqcjVOSDNGeGlyLWszYmVUX19Q"},
                    "uiFeatureFlags": {"achLowerLimitEnabled":false,"fullStoryEnabled":false,"unifiedCheckoutEnabled":false}        }

                    
        </script>
        
    </body>
</html>
