# Place in .ebextensions directory at project root
container_commands:
  00_install_deps:
    command: "sudo dnf install python3 augeas-libs"
    ignoreErrors: true
  10_create_venv:
    command: "sudo python3 -m venv /opt/certbot"
    ignoreErrors: true
  20_update_pip:
    command: "sudo /opt/certbot/bin/pip install --upgrade pip"
    ignoreErrors: true
  30_install_certbot:
    command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
    ignoreErrors: true
  40_link_certbot:
    command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
    ignoreErrors: true

container_commands:
    00_permission_hook:
        command: "chmod +x .platform/hooks/postdeploy/00_get_certificate.sh"

files:
    /tmp/renew_cert_cron:
        mode: "000777"
        owner: root
        group: root
        content: |
            0 1,13 * * * certbot renew --no-self-upgrade

container_commands:
    10_create_cert_crontab:
        command: "sudo crontab /tmp/renew_cert_cron"
    20_delete_cronjob_file:
        command: "sudo  rm /tmp/renew_cert_cron"
        ignoreErrors: true